$color-white: #ffffff;
$color-lightgrey: #f1f1f1;
$color-grey-bg: #f9f9f9;
$color-lightergrey: #ececec;
$color-greyback: #d3d3d2;
$color-black: #000000;
$color-grey: #444444;
$color-turquoise-light: #63d1bb;
$color-turquoise-middle: #62d1ba;
$color-turquoise-dark: #56c3b2;
$color-turquoise-icon: #149080;
$font-stack: 'Open Sans', Arial, sans-serif;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-padding: 30px;
$desktop-padding: 50px;
$tablet-padding: 50px;
$mobile-width-only: 767px;
