.fieldset-telephone {
  position: relative;
  margin-bottom: 32px;
}

.fieldset-telephone__legend {
  position: relative;

  margin: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: $color-turquoise-light;

  text-transform: uppercase;
}

.fieldset-telephone__legend::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 60px;

  width: 200px;

  border-top: 1px solid $color-turquoise-light;
}

.fieldset-telephone__icon {
  content: "";
  position: absolute;
  top: 32px;
  left: 225px;

  width: 25px;
  height: 24.333px;

  opacity: 0.2;
}

.fieldset-telephone__input {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;

  font-size: 19px;
  font-weight: 400;
  line-height: 18px;
  font-family: inherit;

  border: none;
  box-shadow: 0 -2px 0 0 $color-black inset;
}

.fieldset-telephone__input:hover {
  box-shadow: 0 -2px 0 0 $color-turquoise-middle inset;
}

.fieldset-telephone__input:active {
  box-shadow: 0 -2px 0 0 $color-turquoise-middle inset;
}

.fieldset-telephone__input:hover + .fieldset-telephone__icon {
  path {
    fill: $color-turquoise-middle;
  }
  opacity: 1;
}

.fieldset-telephone__input:active .fieldset-telephone__legend::before {
  path {
    fill: $color-turquoise-middle;
  }
  opacity: 1;
}

.fieldset-telephone__input::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: $tablet-width) {
  .fieldset-telephone {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-top: 64px;
  }

  .fieldset-telephone__legend {
    margin: 0;
  }

  .fieldset-telephone__legend::before {
    z-index: 1;
    top: -5px;
    left: 625px;
  }

  .fieldset-telephone__legend::after {
    border-top: none;
  }

  .fieldset-telephone__icon {
    top: 60px;
    left: 618px;
  }

  .fieldset-telephone__input {
    width: 500px;
    padding-top: 0;
    padding-left: 15px;

    line-height: 20px;

    background-color: $color-lightgrey;
  }
}

@media (min-width: $desktop-width) {
  .fieldset-telephone__legend {
    padding-left: 64px;
  }

  .fieldset-telephone__legend::before {
    left: 825px;
  }

  .fieldset-telephone__icon {
    left: 840px;
  }

  .fieldset-telephone__input {
    width: 700px;
    margin-right: 175px;
  }
}
