.page-form__title {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 74px;
  padding-bottom: 72px;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: $color-black;

  text-align: center;
  background-color: $color-lightgrey;
  border-top: 1px solid #ececec;
}

@media (min-width: $tablet-width) {
  .page-form__title {
    padding-top: 95px;
    padding-bottom: 80px;
    margin-bottom: 72px;

    font-size: 43px;
    line-height: 50px;

    border-top: 1px solid rgba($color-black, 0.1);
  }
}

@media (min-width: $desktop-width) {
  .page-form__title {
    padding-top: 95px;
    padding-bottom: 102px;
    margin-bottom: 122px;

    font-size: 53px;
    line-height: 57px;
  }
}
