.page-footer__container {
  width: 100%;
  padding: 0 $mobile-padding;

  background-color: $color-lightgrey;
}

.page-footer__container-inner {
  display: flex;
  flex-direction: column;

  width: 260px;
  margin: 0px auto;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    padding: 32px $tablet-padding;
  }

  .page-footer__container-inner {
    flex-direction: row;
    justify-content: space-between;

    width: $tablet-width - $tablet-padding * 2;
  }

  .page-footer__logo {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    padding: 32px $desktop-padding;
  }

  .page-footer__container-inner {
    width: $desktop-width - $desktop-padding * 2;
  }
}
