.production {
  margin-bottom: 58px;
}

.production__container {
  width: 100%;
  padding: 0 $mobile-padding;
}

.production__container-inner {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;

  border: 1px solid $color-lightergrey;
}

.production__wrapper {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.production__container-inner:hover .production__wrapper {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.production__container-inner:active .production__wrapper {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.production__title {
  position: relative;

  width: 220px;
  margin-top: 24px;
  margin-bottom: 22px;
  padding-left: 90px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $color-black;
}

.production__title--camera-icon::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 34px;

  width: 32px;
  height: 28px;

  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
}

.production__title::after {
  content: "";
  position: absolute;
  top: 106px;
  left: 80px;

  width: 101px;
  height: 77px;

  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
}

.production__title:hover::after {
  transform: scale(1.2);
}

.production__title:active::after {
  transform: scale(0.8);
  opacity: 0.3;
}

.production__image {
  position: absolute;
  top: 95px;
  display: flex;
}

.production__text {
  width: 192px;
  margin: 0 auto;
  margin-top: 177px;

  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: $color-grey;
}

.production__order-button {
  justify-self: flex-end;

  width: 192px;
  margin-top: 26px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .production {
    margin-bottom: 64px;
  }

  .production__container {
    padding: 0 $tablet-padding;
  }

  .production__container-inner {
    width: $tablet-width - $tablet-padding * 2;
    border: none;
  }

  .production__wrapper {
    height: auto;
    border: 1px solid $color-lightergrey;
  }

  .production__image {
    position: unset;
    width: 100%;
  }

  .production__title {
    width: auto;
    margin-top: 37px;
    margin-bottom: 12px;
    margin-left: 42px;
    padding-left: 63px;

    font-size: 20px;
  }

  .production__title::after {
    top: -300px;
    left: 240px;
  }

  .production__title--camera-icon::before {
    top: -4px;
    left: -1px;
  }

  .production__text {
    width: auto;
    margin-top: 20px;
    margin-right: 42px;
    margin-left: 38px;

    font-size: 15px;
    line-height: 30px;
  }

  .production__order-button {
    width: auto;
    margin-top: 35px;
    margin-right: 42px;
    margin-bottom: 45px;
    margin-left: 42px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    margin-bottom: 104px;
  }

  .production__container {
    padding: 0 $desktop-padding;
  }

  .production__container-inner {
    flex-direction: row;
    width: $desktop-width - $desktop-padding * 2;
  }

  .production__image {
    width: 682px;
    height: 455px;
  }

  .production__wrapper {
    width: 370px;
  }

  .production__title {
    width: 125px;
    padding-top: 58px;
    padding-left: 36px;
  }

  .production__title::after {
    top: 152px;
    left: -432px;
  }

  .production__title--camera-icon::before {
    top: 4px;
    left: 38px;
  }

  .production__text {
    margin-left: 78px;
  }

  .production__order-button {
    margin-top: 47px;
    margin-right: 57px;
    margin-bottom: 59px;
    margin-left: 80px;
  }
}
