.radio-option__input {
  display: none;
}

.radio-option__label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -62px;

  width: 38px;
  height: 38px;

  border: 2px solid $color-grey;
  border-radius: 50%;
}

.radio-option__label {
  position: relative;

  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: $color-black;
}

.radio-option__label:hover::before {
  border: 2px solid $color-turquoise-middle;
}

.radio-option__label:active::before {
  border: 2px solid rgba($color: #444444, $alpha: 0.3);
}

.radio-option__input:checked + .radio-option__label::before {
  box-shadow: 0 0 0 10px $color-white inset;
  background-color: $color-turquoise-middle;
}

@media (min-width: $tablet-width) {
  .radio-option__label {
    font-size: 19px;
  }

  .radio-option__label::before {
    top: -10px;
    left: -80px;

    width: 51px;
    height: 51px;
  }

  .radio-option__input:checked + .radio-option__label::before {
    box-shadow: 0 0 0 13px $color-white inset;
  }
}
