.site-list__link {
  display: flex;
  width: 260px;
  margin: 0 auto;
  padding-top: 24px;
  padding-left: 45px;
  padding-bottom: 24px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $color-black;

  text-decoration: none;
}

.site-list__link:hover {
  color: rgba($color: #000000, $alpha: 0.6);
}

.site-list__link:active {
  color: rgba($color: #000000, $alpha: 0.3);
}

.site-list__item-wrap {
  border-top: 1px solid $color-lightergrey;
}

.site-list__item {
  border-top: 1px solid $color-lightergrey;
}

@media (min-width: $tablet-width) {
  .site-list {
    position: absolute;
    z-index: 3;

    display: flex;
    justify-content: space-between;
    width: 305px;
  }

  .site-list__link {
    width: auto;
    margin: 0;
    padding: 0;
    font-size: 15px;
  }

  .site-list__item {
    width: auto;
    padding-top: 18px;
    padding-left: 0;
    padding-bottom: 33px;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    position: unset;
    top: 0;
    z-index: 0;

    width: 373px;
  }

  .site-list__link {
    font-size: 17px;
  }

  .site-list__link--catalog {
    position: relative;
  }

  .site-list__link--catalog::after {
    content: "";
    position: absolute;
    top: -31px;
    right: -35px;

    width: 1px;
    height: 90px;

    border-right: 1px solid $color-lightergrey;
  }

  .site-list__item {
    padding-top: 29px;
    padding-bottom: 30px;
  }
}
