.social__list {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;

  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.social__link {
  display: flex;

  width: 25px;
  height: 30px;
  margin: 25px 16px;

  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__link--instagram {
  background-image: url("../img/icon-insta.svg");
}

.social__link--facebook {
  background-image: url("../img/icon-fb.svg");
}

.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
}

@media (min-width: $tablet-width) {
  .social__list {
    padding-left: 80px;
    border-bottom: none;
  }
}
