.social__list {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;

  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 30px;
  margin: 25px 17px;

  text-decoration: none;
  fill: #231f20;
}

.social__link:hover {
  fill: $color-turquoise-footer;
}

.social__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social__list {
    padding-left: 108px;
    border-bottom: none;
  }

  .social__link {
    margin-top: 27px;
  }
}
