.user-list__link {
  position: relative;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $color-black;

  text-decoration: none;
}

.user-list__icon {
  position: absolute;
  top: 5px;
  left: -45px;

  width: 21px;
  height: 18px;

  opacity: 0.2;

  fill: $color-black;
}

.user-list__link:hover {
  color: rgba($color: #000000, $alpha: 0.6);
}

.user-list__link:hover .user-list__icon {
  opacity: 1;

  fill: $color-turquoise-light;
}

.user-list__link:active {
  color: rgba($color: #000000, $alpha: 0.3);
}

.user-list__link:active .user-list__icon {
  opacity: 0.3;
}

.user-list__item-wrap {
  border-top: 1px solid $color-lightergrey;
}

.user-list__item {
  width: 260px;
  margin: 0 auto;
  padding-top: 24px;
  padding-left: 45px;
  padding-bottom: 24px;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .user-list__item-wrap {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    justify-content: space-between;
  }

  .user-list__item {
    width: 264px;
    padding-top: 33px;
    padding-left: 0;
    padding-bottom: 31px;
  }

  .user-list__item-wrap {
    border: none;
  }

  .user-list__item-wrap--search {
    padding-top: 33px;

    border-left: 1px solid $color-lightergrey;
    border-right: 1px solid $color-lightergrey;
  }

  .user-list__item--search {
    width: 82px;
    padding-top: 0;
  }

  .user-list__icon--search {
    left: 32px;
  }

  .user-list__link-search {
    display: none;
  }

  .user-list__link--cart {
    display: flex;
    justify-content: flex-end;
  }

  .user-list__icon--cart {
    top: 2px;
    left: 31px;
  }
}

@media (min-width: $desktop-width) {
  .user-list__item--cart {
    width: 267px;
  }
}
